*{
  padding:0;
  margin:0;
}
.container{
  background-color: #d8d8f6;
  width: 100%;
  height:auto;
}
.searchForm{
  text-align: center;
  justify-items: center;
  margin:auto;
}
input{
  padding:10px;
  margin:5px;
  width:50%;
  margin-top:2%;
}
.btn{
  padding:10px;
  background-color: #b18fcf;
}
.recipeShow{
  width:50%;
  text-align: center;
  
}
.recipies{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
li{
  text-align: left;
  margin-left:5%;
  list-style: none;
  
}
a{
  text-decoration: none;
  color:#553f67;
}
.displayCal{
  border-radius: 15px;
  padding: 15px;
  background-color: #b18fcf;
  width: 50%;
  text-align: center;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  color:#fff;
  font-size: 18px;
}
.recipeItem{
  background-color:#f4eefa;
  padding:20px;
  width:500px;
  margin:5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

